<div class="flex justify-center align-center">
  <div class="shadow-xl p-5 bg-white">
    <h2 class="text-lg font-bold">Registration</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mt-2">
        <%= f.label :email, class: 'text-sm text-gray-500' %><br />
        <%= f.email_field :email, class: "rounded", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="mt-2">
        <%= f.label :password, class: 'text-sm text-gray-500' %>
        <% if @minimum_password_length %>
          <em class="text-sm text-gray-500">(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: 'rounded', autocomplete: "new-password" %>
      </div>

      <div class="mt-2">
        <%= f.label 'Repeat your password', class: 'text-sm text-gray-500' %><br />
        <%= f.password_field :password_confirmation, class: 'rounded', autocomplete: "new-password" %>
      </div>

      <div class="mt-3 text-sm">
        Already have account? <span class="text-blue-500"><%= render "devise/shared/links" %></span>
      </div>

      <div class="mt-2 bg-gradient-to-r from-purple-500 to-pink-500 text-white text-center rounded p-2">
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  </div>
</div>