<div class="flex pt-5 justify-between items-center">
  <h1 class="font-bold text-3xl"><%= @article.title %></h1>
  <div class="flex">
    <div class="mr-2"><%= link_to "Edit", edit_article_path(@article) %></div>
    <div class="text-red-500"><%= link_to "Delete", article_path(@article), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %></div>
  </div>
</div>

<p class="py-3"><%= @article.body %></p>

<div class="text-red-500">
  <%= @likes_amount %> ♥
</div>

<h2 class="mt-3">Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>