<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <header class="flex-wrap bg-white p-3 flex justify-center">
      <nav class="container flex items-center justify-between">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <span class="font-semibold text-xl tracking-tight text-blue-900">Dev Blog</span>
        </div>
        <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-sm lg:flex-grow">
            <span href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-blue-900 hover:text-blue-700 mr-4">
              <%= link_to "Feed", "/" %>
            </span>
            <span href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-blue-900 hover:text-blue-700 mr-4">
              <%= link_to "Write new post", new_article_path %>
            </span>
            <span href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-blue-900 hover:text-blue-700 mr-4">
              <%= link_to "Messages", dialogues_path %>
            </span>
          </div>
          <div>
            <span class="inline-block text-sm px-4 py-2 leading-none border rounded text-blue-900 border-white hover:border-transparent hover:text-blue-700 hover:bg-white mt-4 lg:mt-0">
              <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
            </span>
          </div>
        </div>
      </nav>
    </header>
    <div class="container mx-auto pb-5">
      <%= yield %>
    </div>
  </body>
</html>
